<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous">

<title>LG Eletronics + Danilo Maia</title>
</head>
<body>
<br><br>
<div class="container" style="text-align:center">
	<h1>PROJETOS LGe</h1>
	<h2>Simulação</h2>
	<hr>
	<a  th:href="@{/}" class="btn btn-primary btn-sm mb-3">Página Inicial</a>
	<hr>
</div>
<div class="container" style="text-align:center">
	<th:block style="text-align:center">
		<br><br>
		<dialog open>
		<b style="text-align:center; color:blue">O valor retorno do investimento será de: [[${retorno}]] </b><br><br>
		<a th:href="@{/listaProjetos}" class="btn btn-primary btn-sm mb-3">Retornar</a>
		</dialog>
		<br><br><br><br><br><br><br><br>
	</th:block>
	
	<br><br>
	<p style="text-align:center"><span th:text="${message}"></span></p>
</div>

</body>
</html>